{% extends 'base.html.twig' %}

{% block title %}Edit Episode{% endblock %}

{% block body %}
    <h1 class="text-center" style="margin: 30px">Editer un Episode</h1>

    {{ include('episode/_form.html.twig', {'button_label': 'Mettre à jour'}) }}

    <div class="container h-100" style="margin-top: 10px">
        <div class="row align-items-center justify-content-center h-100">
            <div class="col-12">
                <div>
                    {{ include('episode/_delete_form.html.twig') }}
                </div>
            </div>
        </div>
    </div>

    <a href="{{ path('episode_index') }}">Retour à la liste</a>

{% endblock %}
