{% extends 'base.html.twig' %}

{% block body %}

    <h1 class="text-center" style="margin: 30px">Admin</h1>

    <div class="text-center">
        <h4><a href="{{ path('category_add') }}">Ajouter une catégorie</a></h4>
        <h4><a href="{{ path('program_index') }}">Gérer les séries</a></h4>
        <h4><a href="{{ path('season_index') }}">Gérer les saisons</a></h4>
        <h4><a href="{{ path('episode_index') }}">Gérer les épisodes</a></h4>
    </div>

{% endblock %}