$primary: #193365;
$secondary: #EFEFEF;
$white: #FFF;
$colorNavLink: #EFEFEF;

body {
    background-color: $white ;
}

$theme-colors: (
        "primary": $primary,
        "secondary": $secondary
);

.nav-link-color {
    color: $colorNavLink;
}
.nav-link-color:hover {
    color: $colorNavLink;
}

h1 {
    color: $primary;
}

@import "~bootstrap/scss/bootstrap";