{% extends 'base.html.twig' %}

{% block body %}

    <h1 class="text-center">Bienvenue sur ta page de profile ! </h1>

    <h3>Ton adresse e-mail : {{ user.email }}</h3>

    <a href="{{ path('app_logout') }}">Déconnexion</a>

{% endblock %}